@import './components/search-input/search-input';
@import './components/map/map';
@import './components/search-results/search-results';

// ===============
//  global styles
// ===============

body, html {
  margin: 0;
  padding: 0;
}

.visible {
  display: block !important;
}
